.homePageParentContainer {
	width: 100vw;
	height: 100vh;
	padding: 24px;
}

.BlogHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btContainer {
	display: flex;
	gap: 12px;
	align-items: center;
}
